@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  height: 80vh;
  background-color: #e0e8ff;
}

@media screen and (min-width: 376px) {
  body {
    height: 100%;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: top center;
  }
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 376px) {
  .container {
    margin: 6em 0;
  }
}

.wrapper {
  width: 450px;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 20px rgba(61, 63, 161, 0.1);
          box-shadow: 0px 20px 20px rgba(61, 63, 161, 0.1);
  margin: 0 .8em;
}

.wrapper .cardImage {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper .title {
  font-size: 1.5em;
  margin-top: 1.3em;
  font-weight: 900;
}

.wrapper .infoText {
  margin: 0;
  padding: 0 2.2em;
  text-align: center;
  font-size: 1em;
  color: #7280a7;
}

@media screen and (min-width: 376px) {
  .wrapper .infoText {
    padding: 0 4em;
  }
}

.wrapper .planWrapper {
  margin: 1.5em 0 2em 0;
  width: 78%;
  background-color: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  border-radius: 10px;
}

.wrapper .planWrapper .planText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .planWrapper .planPrice {
  margin: 0 0 0 1em;
  font-size: .95em;
}

.wrapper .planWrapper .planPrice h4 {
  margin: .2em;
}

.wrapper .planWrapper .planPrice p {
  margin: .2em;
  color: #7280a7;
}

.wrapper .planWrapper .planLink {
  font-size: .9em;
  font-weight: 700;
}

.wrapper .planWrapper .planLink:hover {
  opacity: 85%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .proceedWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  padding-bottom: 2em;
}

.wrapper .proceedWrapper .proceedBtn {
  font-size: 1em;
  width: 100%;
  background-color: #3829e0;
  color: white;
  border: hidden;
  border-radius: 10px;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 30px rgba(61, 63, 161, 0.3);
          box-shadow: 0px 15px 30px rgba(61, 63, 161, 0.3);
}

.wrapper .proceedWrapper .proceedBtn:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 85%;
}

.wrapper .proceedWrapper .cancel {
  border: hidden;
  font-weight: 700;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  color: #7280a7;
}

.wrapper .proceedWrapper .cancel:hover {
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 70%;
}

.attribution {
  text-align: center;
}

@media screen and (max-width: 376px) {
  .attribution {
    margin: 3em;
  }
}
/*# sourceMappingURL=index.css.map */